<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <h5 class="card-title">Personal</h5>
          <h6>Full Name:    {{ user.name  }}</h6>
          <h6>Mobile Phone: {{ user.phone }}</h6>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <h5 class="card-title">Professional</h5>
          <h6>Username: {{ user.username}}</h6>
          <h6>Email:    {{ user.email   }}</h6>
          <h6>Website:  {{ user.website }}</h6>
          <h6>Company:  {{ user.company.name }}</h6>
          <h6>Business: {{ user.company.bs | titlecase}}</h6>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <h5 class="card-title">Address</h5>
          <h6>Street:  {{ user.address.street }}</h6>
          <h6>Suite:   {{ user.address.suite  }}</h6>
          <h6>City:    {{ user.address.city   }}</h6>
          <h6>Zipcode: {{ user.address.zipcode}}</h6>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12">
          <button class="btn btn-success">Create</button>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">
          <button class="btn btn-primary">Update</button>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">
          <button class="btn btn-danger">Delete</button>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">
          <button class="btn btn-warning">Get Posts</button>
        </div>
      </div>
    </div>
</div>