<div class="card">
    <div class="card-body">
      <h5 class="card-title">Personal</h5>
      <h6 style="font-weight: lighter;">Full Name: {{user.name}}</h6>
      <h6 style="font-weight: lighter;">Mobile Phone: {{user.phone}}</h6>
      <h6 style="font-weight: lighter;">Company: {{user.company.name}}</h6>
      <hr>
      <h5 class="card-title">Professional</h5>
      <h6 style="font-weight: lighter;">Email: {{user.email}}</h6>
      <h6 style="font-weight: lighter;">Company: {{user.company.name}}</h6>
      <h6 style="font-weight: lighter;">Website: {{user.website}}</h6>
      <hr>
      <h5 class="card-title">Address</h5>
      <h6 style="font-weight: lighter;">Street: {{user.address.street}}</h6>
      <h6 style="font-weight: lighter;"> Suite: {{user.address.suite}}</h6>
      <h6 style="font-weight: lighter;"> City: {{user.address.city}}</h6>
      <h6 style="font-weight: lighter;"> Zipcode: {{user.address.zipcode}}</h6>
    </div>
</div>