@import "~bootstrap/dist/css/bootstrap.css";
*{
    border-radius: unset !important;
}
body{
    background-color:#eee !important;
}

.container{
    margin-top: 2% !important;
}

.card{
    margin-bottom: 2% !important;
    box-shadow: 0px 2px 3px #eee !important;
}